@model IEnumerable<FundRaiser.Team5.Core.Options.OptionStatusUpdate>

@{
    ViewData["Title"] = "Index";
    var sessionUser = Model.First().SessionUser;

    if (sessionUser > 0)
    {
        Layout = "_LayoutLoggedIn";
    }
    else
    {
        <script type="text/javascript"> window.location.href="@Url.Action("Index", "Home")"</script>
    }
}

}

<h1>Status Update Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeUploaded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeUploaded)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.StatusUpdateId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StatusUpdateId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        const uri = 'Status Update';

        function getStatusUpdate() {
            fetch(`${uri}/Get`)
                .then(response => response.json())
                .then(data => _displayStatusUpdate(data))
                .catch(error => console.error('Unable to get StatusUpdate.', error));
        }

        function deleteStatusUpdate(id) {
            fetch(`${uri}/Delete/${id}`, {
                method: 'DELETE'
            })
                .then(() => getProjec())
                .catch(error => console.error('Unable to delete StatusUpdate.', error));
        }

        function _displayStatusUpdate(data) {
            const tBody = document.getElementById('StatusUpdate');
            tBody.innerHTML = '';

            const anchorElement = document.createElement('a');

            data.forEach(item => {
                let detailsAnchor = anchorElement.cloneNode(false);
                detailsAnchor.innerText = 'Details';
                detailsAnchor.setAttribute('href', `${uri}/Details/${item.OptionStatusUpdateId}`);

                let deleteAnchor = anchorElement.cloneNode(false);
                deleteAnchor.innerText = 'Delete';
                deleteAnchor.setAttribute('onclick', `deleteProject(${item.OptionStatusUpdateId})`);
                deleteAnchor.setAttribute('href', 'javascript:void(0)');

                let tr = tBody.insertRow();

                let td1 = tr.insertCell(0);
                let statusUpdateIdNode = document.createTextNode(item.StatusUpdateId);
                td1.appendChild(statusUpdateIdNode);

                let td2 = tr.insertCell(1);
                let titleNode = document.createTextNode(item.Title);
                td2.appendChild(titleNode);

                let td3 = tr.insertCell(2);
                let textNode = document.createTextNode(item.Text);
                td3.appendChild(textNode);

                let td4 = tr.insertCell(4);
                td4.appendChild(detailsAnchor);

                let td5 = tr.insertCell(5);
                td5.appendChild(deleteAnchor);
            });
        }
    </script>
}
<div style="margin-bottom:3rem;"></div>
