@model IEnumerable<FundRaiser.Team5.Core.Options.OptionStatusUpdate>

@{
    ViewData["Title"] = "Index";
}

<h1>Status Update Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeUploaded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeUploaded)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.StatusUpdateId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StatusUpdateId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
 </table>
